body {
    //font-size:108%;
    //padding-top: 50px;
    /*使用字體*/
    
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Helvetica, Arial, 'Heiti TC', 微軟正黑體, sans-serif;
    overflow-y: scroll;
}
.content {
    padding: 10px 15px;
    //text-align: center;
}

.title-area {
    //padding-top: 5.4rem;
    //padding-bottom: 6.5rem;
    padding: 5px;
    /*版權區文字顏色*/
    
    //background: #ffffff;
    position: relative;
    display: block;
    //z-index: 100;
    text-align: center;
    /*版權區背景色*/
    
    //background-color: #00b8e0;
    //background-color: #01B470;
    background-image: radial-gradient(at top left, #cf8020 0%, #fce09a 100%);
    color: white;
}


.navbar-custom {
    background-image: radial-gradient(at top left, #cf8020 0%, #fce09a 100%);
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}


#top-link-block.affix-top {
    position: absolute;
    /* allows it to "slide" up into view */
    
    bottom: -82px;
    /* negative of the offset - height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}

#top-link-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    
    bottom: 18px;
    /* height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}
.addeventatc{
    /*add padding make button larger*/
    /*padding: 5px 4px;*/
}
#addeventatc-block.affix-top {
    position: absolute;
    /* allows it to "slide" up into view */
    
    top: -82px;
    /* negative of the offset - height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}

#addeventatc-block {
    position: fixed;
    /* keeps it on the bottom once in view */
    
    top: 58px;
    /* height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}

#addeventatc-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    
    top: 58px;
    /* height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}