body {
    //font-size:108%;
    //padding-top: 50px;
    /*使用字體*/
    
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Helvetica, Arial, 'Heiti TC', 微軟正黑體, sans-serif;
    overflow-y: scroll;
}
.content {
    padding: 10px 15px;
    //text-align: center;
}

.title-area {
    //padding-top: 5.4rem;
    //padding-bottom: 6.5rem;
    padding: 5px;
    /*版權區文字顏色*/
    
    //background: #ffffff;
    position: relative;
    display: block;
    //z-index: 100;
    text-align: center;
    /*版權區背景色*/
    
    //background-color: #00b8e0;
    //background-color: #01B470;
    background-image: radial-gradient(at top left, #cf8020 0%, #fce09a 100%);
    color: white;
}


.navbar-custom {
    background-image: radial-gradient(at top left, #cf8020 0%, #fce09a 100%);
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}



.navbar {
    /*margin-bottom: 0px;*/
    /*選單背景色*/
    
    background-color: rgba(255, 255, 255, 0.8);
    /*padding: 10px;*/
    /*選單勾邊*/
    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
}

#navbar > ul > li > a {
    font-size: 16px;
    font-weight: 500;
    /*選單字體*/
    
    color: #5f5f5f;
    font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#navbar > ul > li > a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 0px;
    background-color: #E77919;
    content: "";
    transition: height 0.4s;
}

#navbar > ul > li > a:hover:after {
    height: 2px;
}

#navbar > ul > li > a:hover {
    color: #E77919;
    transition-duration: 0.4s;
    /*
    border-color:#E77919; 
    border-style:solid;
    border-width:1px;
    margin: -1px;
    */
}

.navbar-toggle .icon-bar {
    /*display: block;*/
    /*width: 22px;*/
    height: 3px;
    /*選單小按鈕的顏色*/
    
    background-color: #E77919;
    /*border-radius: 1px;*/
}

#top-link-block.affix-top {
    position: absolute;
    /* allows it to "slide" up into view */
    
    bottom: -82px;
    /* negative of the offset - height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}

#top-link-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    
    bottom: 18px;
    /* height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}
.addeventatc{
    /*add padding make button larger*/
    /*padding: 5px 4px;*/
}
#addeventatc-block.affix-top {
    position: absolute;
    /* allows it to "slide" up into view */
    
    top: -82px;
    /* negative of the offset - height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}

#addeventatc-block {
    position: fixed;
    /* keeps it on the bottom once in view */
    
    top: 58px;
    /* height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}

#addeventatc-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    
    top: 58px;
    /* height of link element */
    
    right: 10px;
    /* padding from the left side of the window */
}

.license{
    text-align: center;
}

.advertisement {
    margin-top: 53px;
    background: url(../image/banner.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height:8em;
}

@media (max-width: 480px) {
    .advertisement {
        height: 5em;
    }
}

@media (min-width: 768px){
    .advertisement {
        height: 10em;
    }
}

@media (min-width: 1024px){
    .advertisement {
        height: 15em;
    }
}

@media (min-width: 1600px){
    .advertisement {
        height: 18em;
    }
}

.sesstags {    
    display: inline-block;
    height: 18px;
    line-height: 18px;
    position: relative;
    /*margin: 0 1px 1px 9px;*/
    padding: 0 10px 0 12px;
    background: #777;    
    -webkit-border-bottom-right-radius: 3px;    
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;    
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size:10px; 
    -webkit-transform:scale(0.83); 
    display:inline-block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}
.sesstags:before {
    content: "";
    position: absolute;
    top:0;
    left: -9px;
    width: 0;
    height: 0;
    border-color: transparent #3243A5 transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;        
}
.sesstags:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 1px;
    float: left;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}

.sesstags:hover {background:#777;}    
.sesstags:hover:before {border-color:transparent #777 transparent transparent;}

.sesstags.color1 {background: #f58220;}
.sesstags.color1:before {border-color: transparent #f58220 transparent transparent;}

.sesstags.color2 {background: #97c224;}
.sesstags.color2:before {border-color: transparent #97c224 transparent transparent;}

.sesstags.color3 {background: #de3f3e;}
.sesstags.color3:before {border-color: transparent #de3f3e transparent transparent;}

.sesstags.color4 {background: #ec008c;}
.sesstags.color4:before {border-color: transparent #ec008c transparent transparent;}

.sesstags.color5 {background: #00a6df;}
.sesstags.color5:before {border-color: transparent #00a6df transparent transparent;}

.sesstags:hover {background:#666 !important}  
.sesstags:hover:before {border-color:transparent #666 transparent transparent !important}
